<h1>파일올리기 </h1>
<h1>파일올리기 </h1>

<form method="post" enctype="multipart/form-data" action="/files">
    <input type="file" name="test" id="file-chooser" />
    <input type="submit" id="upload-button">Upload to S3</input>
    <div id="results"></div>
</form>